<header>
    <div>Logo</div>
    <nav>
        <ul>
            <li><a href="/mainPage">Pagina1</a></li>
            <li><a href="/mainPage">Pagina1</a></li>
            <li><a href="/loginPage">Login</a></li>
        </ul>
    </nav>
</header>


<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 50px 0 50px;
        text-align: center;
        align-items: center;
    }

    header ul {
        display: flex;
        gap: 30px;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: white;
    }
</style>