---
const {title = "Pagina de Juegos"} = Astro.props;
import { ClientRouter } from "astro:transitions";
import HeaderComponent from "../components/headerComponents/HeaderComponent.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<HeaderComponent />
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html {
		color-scheme: light;
	}

	html.modo-oscuro {
		color-scheme: dark;
	}
	
	body {
		background-color: #ffffff;
		color: #000000;
		transition: background-color 0.3s, color 0.3s;
		margin: 0;
		padding: 0;
	}

	body.modo-oscuro {
		background-color: #1a1a1a;
		color: #ffffff;
		margin: 0;
		padding: 0;
	}

</style>
