---
// src/layouts/Layout.astro
const { title = "Pagina de Juegos" } = Astro.props;
import Sidebar from "@components/dashboardComponents/Sidebar.astro";
import HeaderComponentDashboard from "@components/headerComponents/HeaderComponentDashboard.astro";

import "@styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml+ico" href="/logoVGS.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline src="/scripts/auth-check.js"></script>
    <script
      is:inline
      define:vars={{
        apiUrl: import.meta.env.PUBLIC_API_URL || "http://localhost:8000",
      }}
    >
      window.PUBLIC_API_URL = apiUrl;
      </script>
    <script>
      import "@scripts/init-storage";
      import "@scripts/route-protection";
      import "@scripts/theme-toggle";
    </script>
  </head>
  <body>
    <Sidebar />
    <HeaderComponentDashboard />
    <main>
      <slot />
    </main>
  </body>
</html>