---
import { ClientRouter } from "astro:transitions";   
import HeaderComponent from "@components/headerComponents/HeaderComponent.astro";
import Footer from "@components/footerComponents/Footer.astro";

import "@styles/global.css";
interface Props {
    title?: string;
}
const { title = "Pagina de Juegos" } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml+ico" href="/logoVGS.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        
        <ClientRouter />
        <script>
            import "@scripts/init-storage";
            import "@scripts/route-protection";
            import "@scripts/theme-toggle";
        </script>
    </head>
    <body>
        <HeaderComponent />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>