---
const { title = "Pagina de Juegos" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml+ico" href="/logoVGS.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
            import "@scripts/init-storage";
            import "@scripts/route-protection";
            import "@scripts/theme-toggle";
        </script>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html {
		color-scheme: light;
	}

	html.modo-oscuro {
		color-scheme: dark;
	}

	body {
		background-color: #ffffff;
		color: #000000;
		transition:
			background-color 0.3s,
			color 0.3s;
		margin: 0;
		padding: 0;
		overflow-y: auto;
	}

	body.modo-oscuro {
		background-color: #1a1a1a;
		color: #ffffff;
		margin: 0;
		padding: 0;
		overflow-y: auto;
	}
</style>
