<div class="contenedor-main">
    <h1>Holaa</h1>
</div>

<style>
    .contenedor-main {
        border-radius: 10px;
        border: 1px solid #eee;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 45px;
    }
</style>